*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-100%);
  }
  
  .imagen-light >button{
    display: block;
    padding: 2rem;
    font-size: 2.2rem;
    background: var(--main-red) ;
    border: solid 1px white;
    cursor: pointer;
  
  }
  
  .imagen-light >button:hover {
    background: white;
  }
  
  
  .show {
    transform: translate(0);
  }
  
  .agregar-imagen {
    object-fit: cover;
    width: 75%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
    display: none;
  }
  .showImage {
    display: block;
    transform: scale(1);
    
  }
